.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.productName, .productName1, .navbar-brand {
  font-family: "PT Serif";
  font-weight: 700;
  font-style: italic;
}

.productSub, .productSub1 {
  font-family: "PT sans";
  font-size: 1.3em;
  color: brown;
}

button.btn-outline-secondary {
  color: white;
}

button.btn-outline-secondary a {
  color: white;
  text-decoration: none;
}

.productData, .productData1, .productData2, .phone, .nav-link, button.btn-outline-secondary {
  font-family: 'PT sans';
}

.phone {
  text-align: center;
  font-size: 3em;
}

h4.phone {
  font-size: 1.2em;
  font-weight: 700;
}

.upper-text {
  padding-top: 10px;
  line-height: 30px;
  font-family: 'PT sans';
  color: white;
}

@media (max-width: 1400px) {
  .upper-text {
    width: 400px;
  }
}

@media (max-width: 900px) {
  .upper-text {
    width: 330px;
  }
}

.section__one {
  background-image: url("img/ok/Untitled-4.png");
  background-size: cover;
  box-shadow: 0 3px 7px #666;
}

.logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

nav.navbar.navbar-dark {
  border-radius: 0 !important;
}

.bg-inverse {
  background: rgba(55, 58, 60, 0.7) !important;
}

.burunduk {
  box-shadow: 2px 2px 5px #aaa, -2px -2px 5px #aaa;
}

.section__three {
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 -3px 5px #aaa;
  background-image: url("img/ok/bg3.jpg");
  background-size: cover;
}

.page-link {
  cursor: pointer;
}

.block__up a {
  color: white;
  text-decoration: none;
  font-family: 'PT sans';
  font-size: 2em;
}
